body {
    text-align: center;
    margin: 0;
}

h1 {
    color: #66bfbf;
    margin-top: 0;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

h2 {
    color: #66bfbf;
    font-size: 1.67rem;
    font-family: 'Merriweather', serif;
}


.top-container {
    margin: 0;
    background-color: #eaf6f6;
    padding-top: 100px;
}

.top-cloud {
    position: relative;
    left: 300px;
    bottom: 50px;
}

.bottom-cloud {
    position: absolute;
    top: 400px;
    left: 200px;
}